<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/showPage.css">
<link rel="stylesheet" href="/stylesheets/cards.css">
<link rel="stylesheet" href="/stylesheets/campgroundForms.css">

    <div class="row mb-3">
        <div class="card col-lg-4 offset-lg-4 col-md-6 offset-md-3 paige">
            <h5 class="card-title mb-3 text-center mt-3"><span class="badge bg-primary">
                    <%=user.username%>
                </span></h5>
            <% if(user.avatar.url){%>
                <img src="<%= user.avatar.url %>" class="card-img-top" alt="...">
                <% } else{ %>
                    <img src="https://res.cloudinary.com/dju2sbfnj/image/upload/v1632434489/YelpCamp/profile_uyaawq.png"
                        alt="">
                    <% } %>
                        <div class="card-body text-center">

                        </div>
                        <ul class="list-group list-group-flush text-center">
                            <li class="list-group-item paige">Name: <%= user.firstName %>
                                    <%= user.lastName %>
                            </li>
                            <li class="list-group-item paige">Contact: <a href="mailto:<%= user.email %>">
                                    <%= user.email %>
                                </a></li>

                        </ul>

        </div>
    </div>

    <h3 class="text-center mb-3 mt-3" id="userCampgrounds">Campgrounds by <%= user.username%>:</h3>

    <% for(let campground of campgrounds){%>
        <div class="card mb-3" id="card">
            <div class="row">
                <div class="col-md-4">
                    <% if(campground.images.length){ %>
                        <img src="<%= campground.images[0].url %>" alt="" class="img-fluid">
                        <% } else{%>
                            <img style="max-height: 200px;"
                                src="https://res.cloudinary.com/dju2sbfnj/image/upload/v1632436706/YelpCamp/tent_v69lzz.png"
                                alt="" class="img-fluid">

                            <% } %>

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5>
                            <%= campground.title %>
                        </h5>

                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary">View <%= campground.title
                                %> </a>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
            </div>